<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"`>
    <title>Senior Project</title>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/aboutus.css">
    

  </head>
  <body>
    <section class="section-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Lebanon Starter Kit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about-us"  >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chatbot">ChatBot</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <section class="section-first pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 ">
                    <img src="assets/gas.jpg" alt="Image 1" class="img-fluid w-100">
                </div>
                <div class="col-sm-6 col-md-6 text-md-center text-center mt-md-5 mt-5">
                    <h2 class="">What Is Lebanon <br> Starter Kit?</h2>
                    <p>A website that allows foreigners and locals <br> to stay up to date with
                    the economic changes.</p>
                </div>  
            </div>      
        </div>
    </section>

    <section class="section-second pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 order-sm-2">
            <img src="assets/dollar.jpg" alt="Image 1" class="img-fluid w-100">
          </div>
          <div class="col-sm-6 col-md-6 order-sm-1 text-md-center text-center mt-md-5 mt-5">
            <h2>What Is Our Motivation?</h2>
            <p>A website that allows foreigners and locals to stay up to date with the economic changes.</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="mt-md-5 mt-5">
      <p>Copyright © 2023. All rights reserved.</p>
    </footer>
  
    </body>
         
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>